
/*this is for classes*/

.homebody {
background-image: url(add image);

}





.navbar {
background-color: aqua;
text-align: center;


}

.home {


}



.git {


}

.linked {


}








/*this is for ID's*/

#headintro {


}


#intro {


}

#fish {


}

#game {


}
